<header>
  <nav class="relative container mx-auto p-6 bg-dark-green rounded-b-lg">
    <div class="flex items-center justify-between">
      <div class="header_logo pt-1 text-white font-bold"><p>WOODS</p></div>
      <div class="flex space-x-6">
        <a href="/" class="bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded">My woods <i class="fa-brands fa-canadian-maple-leaf text-red-900"></i></a>
        <a href="/explore" class="bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded">Explore the forest <i class="fa-solid fa-compass text-yellow-400"></i></a>
        <% if (typeof user !== "undefined") { %>
        <a href="/resources" class="bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded">Plant a seed <i class="fa-solid fa-seedling text-light-green"></i></a>
        <% } %>
      </div>

  <div class="logCheck">
    <% if (typeof user !== "undefined") { %>
    <p class="text-bold text-white text-l">Logged In As User: <%= user %></p>
    <button class="logout userButton bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded">Logout  <i class="fa-solid fa-person-through-window text-black"></i></button>
    <% } else { %>
    <button class="loginButton bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded" style="display: block" >Login  <i class="fa-solid fa-door-open text-black"></i></button>
    <div class="userLogin" style="display: none">
      <button id="1" class="userButton bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded" value="1">user1</button>
      <button id="2" class="userButton bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded" value="2">user2</button>
      <button id="3" class="userButton bg-brown font-bold py-2 px-4 border-b-4 border-r-4 border-dark-cream active:border-hidden rounded" value="3">user3</button>
    </div>
    <% } %>
  </div>
</div>
</div>
</nav>
</header>
