<header>
  <div class="header_logo">RESOURCE WALL</div>
  <nav>
    <a href="/">Home</a>
    <a href="/explore">Explore</a>
    <a href="/resources">Add Resource</a>
  </nav>
  <div class="header_user_name">USER</div>
</header>
