<header>
  <div class="header_logo">RESOURCE WALL</div>
  <nav>
    <button class="home_button">My home</button>
    <button class="explore_button">Explore</button>
  </nav>
  <div class="header_user_name">USER</div>
</header>
