<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/indexApp.js"></script>
    <script type="text/javascript" src="/scripts/loginbutton.js"></script>
    <script
      src="https://kit.fontawesome.com/17f5e217cf.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="bg-cream">
    <%- include('partials/_header') %>
    <main>
      <section class="relative container mx-auto-p-6">
        <div class="home_second_nav flex items-center justify-around my-2">
          <button
            class="my_resources_button bg-brown hover:bg-dark-red font-bold py-2 px-4 border-b-4 border-r-4 text-cream border-dark-cream hover:border-reg-red rounded active:border-0 -mr-20"
          >
            My trees <i class="fa-solid fa-tree text-dark-green"></i>
          </button>
          <button
            class="my_favourites_button bg-brown hover:bg-dark-red font-bold py-2 px-4 border-b-4 border-r-4 text-cream border-dark-cream hover:border-reg-red rounded active:border-0"
          >
            My favourites <i class="fa-solid fa-heart text-red-500"></i>
          </button>
        </div>
      </section>
      <section id="resource_section">
        <div class="flex justify-center">
          <h1 class="home_title underline text-2xl mb-4">My Trees</h1>
        </div>
        <div
          class="resource_display_container container flex justify-around flex-wrap"
        ></div>
      </section>
      <%if (typeof user === "undefined") {%>
      <div class="flex justify-center">
        <h1 class="text-3xl underline text-bold text-red-500">
          Please login to view
        </h1>
      </div>
      <%}%>
    </main>
  </body>
</html>
