<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>



<body>
  <%- include('partials/_header') %>
    <main>
      <div class="home_second_nav">
        <button class="my_resources_button">My resources</button>
        <button class="my_favourites_button">My favourites</button>
      </div>

      <section id="resource_section">
        <hl>My Resources</hl>
        <div class="home_display_container">
          resources go here
        </div>

        <hl>My Favourites</hl>
        <div class="home_display_container">
          favourites go here
        </div>
      </section>
    </main>
</body>

</html>
