<!DOCTYPE html>
<html lang="en">

<head>
  <title>Add New Resource</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/newResource.js"></script>
  <script type="text/javascript" src="/scripts/loginbutton.js"></script>

</head>

<body>
  <%- include('partials/_header') %>
    <main>
      <div class="container flex justify-center p-4">
      <h1 class="text-bold text-5xl underline mx-4">Add New Resource</h1>
    </div>
      <section class="constainer flex justify-center">

      <div class="create_new_resource_form_wrapper">
        <form actions="/" method="POST" id="create_new_resource_form" >
          <div class="flex flex-col justify-center">
          <label for="create_new_resource_form-url" class="place-self-center">Link URL</label>
          <input type="url" name="url" placeholder="link url" id="create_new_resource_form-url" class="border-solid border-black border-2 rounded">
        </div> </br>
        <div class="flex flex-col justify-center">
          <label for="create_new_resource_form-title" class="place-self-center">Title</label>
          <input type="text" name="title" placeholder="title" id="create_new_resource_form-title" class="border-solid border-black border-2 rounded">
        </div></br>
        <div class="flex flex-col justify-center">
          <label for="create_new_resource_form-description" class="place-self-center">Description</label>
          <input type="text" name="description" placeholder="description" id="create_new_resource_form-description" class="border-solid border-black border-2 rounded">
        </div></br>
        <div class="inline-flex flex-col flex-wrap justify-center">
          <input
            type="radio"
            class="tag block place-self-center"
            value="fun"
            name="tags"
          />
          <label for="tag" class="block mx-2">fun</label>
        </div>
        <div class="inline-flex flex-col flex-wrap justify-center">
          <input
            type="radio"
            class="tag block place-self-center"
            value="education"
            name="tags"
          />
          <label for="tag" class="block mx-2">education</label>
        </div>
        <div class="inline-flex flex-col flex-wrap justify-center">
          <input
            type="radio"
            class="tag block place-self-center"
            value="videos"
            name="tags"
          />
          <label for="tag" class="block mx-2">videos</label>
        </div>
        <div class="inline-flex flex-col flex-wrap justify-center">
          <input
            type="radio"
            class="tag block place-self-center"
            value="programming"
            name="tags"
          />
          <label for="tag" class="block mx-2">programming</label>
        </div> <br>
        <div class="flex justify-center">
          <input type="submit" name="submit" class="create_new_resource_form-submit bg-brown hover:bg-dark-red font-bold py-2 px-4 mr-2 border-b-4 border-r-4 text-cream border-dark-cream hover:border-reg-red rounded active:border-0 cursor-pointer" value="submit"></input>
        </div>
        </form>
        <div class="formValidation flex justify-center">
          <h3 class="text-l text-red-600">Please fill out all fields</h3>
        </div>
        <div class="added_alert">
          <h6 class="alert">Added!</h6>
        </div>
      </div>
    </section>
    </main>
</body>



</html>
