@tailwind base;
@tailwind components;
@tailwind utilities;


/* ROBERT CSS ADDITION */

body {
  background-color: #fdf6e9;
}

nav.relative.container.mx-auto.p-6.bg-dark-green.rounded-b-lg {
  max-width: 100%;
}

.container.flex.justify-center {
  max-width: 100%;
}

section.container.flex.justify-around.flex-wrap.my-4 {
  max-width: 100%;
}

span.average_rating {
  text-align: center;
}

.resourceInfo {
  text-align: center;
}

.container.flex.justify-around {
  max-width: 50%;
  margin: auto;
  justify-content: space-evenly;
}

.rate.inline-flex.justify-between.my-3.w-full {
  justify-content: center;
  margin: 25px auto 0px;
}

section#comments {
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

h2.comment-title {
  font-size: 20px;
  font-weight: bold;
  color: #fbe3b4;
  margin-bottom: 10px;
  text-shadow: 1px 1px 0 #355a3f, -1px 1px 0 #355a3f, 1px -1px 0 #000, -1px -1px 0 #b69e77, 0px 1px 0 #fbe3b4, 0px -1px 0 #000, -1px 0px 0 #b69e77, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.comment_container {
  max-width: 50%;
  min-width: 30%;
  border: 1px solid #355a3f;
  border-radius: 5px;
  padding: 15px;
  margin: 2px auto;
  font-size: 14px;
}

.border-solid.rounded-sm.border-black.border-2 {
  border: 1px solid #355a3f;
  border-radius: 5px;
  padding: 0px 40px;
}

button#like_button {
  color: #355a3f;
  border-color: #355a3f;
}

button#like_button:hover {
  background: #355a3f;
  color: white;
}

button#edit_button {
  border-color: #355a3f;
  color: #355a3f;
}

button#edit_button:hover {
  background: #355a3f;
  color: white;
}

button#dislike_button:hover {
  background: #355a3f;
  color: white;
}

button#dislike_button {
  border-color: #355a3f;
  color: #355a3f;
}

button#delete_button {
  border-color: #355a3f;
  color: #355a3f;
}

button#delete_button:hover {
  background: #355a3f;
  color: white;
}

.header_logo.pt-1.text-white.font-bold {
  font-size: 25px;
  color: #fbe3b4;
  text-shadow: 1px 1px 0 #355a3f, -1px 1px 0 #355a3f, 1px -1px 0 #000, -1px -1px 0 #b69e77, 0px 1px 0 #fbe3b4, 0px -1px 0 #000, -1px 0px 0 #b69e77, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

h1{
  font-size: 25px;
  color: #fbe3b4;
  text-shadow: 1px 1px 0 #355a3f, -1px 1px 0 #355a3f, 1px -1px 0 #000, -1px -1px 0 #b69e77, 0px 1px 0 #fbe3b4, 0px -1px 0 #000, -1px 0px 0 #b69e77, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

h2.review_title {
  text-align: center;
  font-size: 26px;
  color: #fbe3b4;
  text-shadow: 1px 1px 0 #355a3f, -1px 1px 0 #355a3f, 1px -1px 0 #000, -1px -1px 0 #b69e77, 0px 1px 0 #fbe3b4, 0px -1px 0 #000, -1px 0px 0 #b69e77, 1px 0px 0 #000, 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000, 0px 2px 0 #000, 0px -2px 0 #000, -2px 0px 0 #000, 2px 0px 0 #000, 1px 2px 0 #000, -1px 2px 0 #000, 1px -2px 0 #000, -1px -2px 0 #000, 2px 1px 0 #000, -2px 1px 0 #000, 2px -1px 0 #000, -2px -1px 0 #000;
}

.comment_box_wrapper.flex.justify-around {
  flex-direction: column;
  justify-content: center;
}

textarea.commentBoxInput.border-2.border-solid.rounded.border-black {
  width: 75%;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
}

button.submit_comment_button.bg-brown.hover\:bg-dark-red.font-bold.py-2.px-4.mr-2.border-b-4.border-r-4.text-cream.border-dark-cream.hover\:border-reg-red.rounded.active\:border-0 {
  width: 50%;
  margin: auto;
}

input.edit_resource_submit.bg-brown.hover\:bg-dark-red.font-bold.py-2.px-4.mr-2.border-b-4.border-r-4.text-cream.border-dark-cream.hover\:border-reg-red.rounded.active\:border-0 {
  margin-top: 11px;
  width: 75%;
}

h4.resource_item_title{
  font-weight: bold;
  color: #355a3f;
  margin-top:10px;
}

p.resource_item_creator {
  font-size: 11px;
}

h6.resource_item_subtitle{
  font-size: 12px;
  font-weight: bold;
  color: #355a3f;
  margin-top:10px;
}

button#edit_button:focus {
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width))   #355a3f;
  ;
}

.edit_resource_container {
  margin-top: 10px;
  max-width: 100%;
  min-width: 50%;
}

.edit_resource_form_wrapper {
  max-width: 100%;
  min-width: 50%;
  text-align: center;
}

textarea {
  resize: none;
}

.resourceInfo {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  max-width: 100%;
  width: 100%;
  border: 1px solid #355a3f;
  border-radius: 5px;
  margin: 5px auto;
}

h2.resourceTitle {
  font-size: 20px;
  font-weight: bold;
  color: #355a3f;
  min-width: fit-content;
}

.resourceFooter {
  display: flex;
  flex-direction: row;
  font-size: 11px;
  color: #355a3f;
}

.resourceIcons {
  margin: 0px 5px;
}

.resourceInfo:hover {
  background-color: #cedcd1;
  color: #355a3f;
}

h1.home_title.underline.text-2xl.mb-4 {
  font-size: 35px;
}

.resourceDescription {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 60%;
  margin: 0px 20px;
}

section.container.flex.justify-center.edit_resource_section {
  margin-bottom: 10px;
}

section.relative.container.mx-auto-p-6 {
  margin: 20px auto;
}

button.my_resources_button {
  width: 30%;
}

button.my_favourites_button {
  width: 30%;
}

.resource_display_container.container.flex.justify-around.flex-wrap {
  margin: 20px auto;
}

.border-black{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  max-width: 100%;
  width: 100%;
  border: 1px solid #355a3f;
  border-radius: 5px;
  margin: 5px auto;
}

input#search_value {
  width: 50%;
  margin: 0px;
}

.resourceInfo.container.flex.justify-around.flex-wrap {
  max-width: 70%;
  border: none;
}

.resourceInfo.container.flex.justify-around.flex-wrap:hover {
  background: none;
  color: black;
}

h1.explore_display_container.underline.text-2xl.mb-4 {
  font-size: 40px;
}

.border-black:hover{
  background-color: #cedcd1;
  color: #355a3f;
}

input#search_value:hover {
  background: white;
  color: black;
}

form.explore_search_form.flex.flex-wrap {
  flex-direction: row;
  width: 100%;
}

.explore_second_nav.flex.items-center.justify-center {
  max-width: 100%;
  flex-direction: row;
}

button#allResources {
  width: 20%;
}

input.explore_search_button {
  width: 20%;
}

input.create_new_resource_form-submit {
  margin-top: 20px;
}

input#create_new_resource_form-url:hover {
  background: white;
  color: black;
}

textarea#create_new_resource_form-description:hover {
  background: white;
  color: black;
}

input#create_new_resource_form-title:hover {
  background: white;
  color: black;
}

textarea.commentBoxInput:hover {
  background: white;
  color: black;
}

.edit_resource_container .resourceInfo:hover {
  background: #cedcd1;
  color: black;
}

.edit_resource_container .resourceInfo .border-solid.rounded-sm.border-black.border-2:hover {
  background: #fdf6e9;
  color: black;
}

.edit_resource_container .resourceInfo{
  background-color: #cedcd1;
}

.edit_resource_container .resourceInfo .border-solid.rounded-sm.border-black.border-2{
  background: #fdf6e9;
}
